<div class="text-layout">
  <h1>Pipes básicos</h1>
  <p>Pipes incluidos en Angular (CommonModule)</p>
</div>
<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase" [subheader]="nombreLower | uppercase">{{
      nombreLower | uppercase
    }}</p-card>
  </div>
  <div class="p-col-4">
    <p-card header="lowercase" [subheader]="nombreUpper | lowercase">{{
      nombreUpper | lowercase
    }}</p-card>
  </div>
  <div class="p-col-4">
    <p-card header="uppercase" [subheader]="nombreCompleto | titlecase">{{
      nombreCompleto | titlecase
    }}</p-card>
  </div>
</div>
<div class="text-layout">
  <h1>Date | Fecha</h1>
  <p>Pipe para mostrar las fechas</p>
</div>
<div class="p-grid">
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date: 'short'</li>
        <li>fecha | date: 'long'</li>
        <li>fecha | date: 'EEEE, MMMM d, y, h:mm:ss a'</li>
      </ul>
      <hr />
      <ul>
        <li>fecha | date: "long":"GMT-6"</li>
        <li>fecha | date: "long":"GMT-2"</li>
        <li>fecha | date: "long":"":"en"</li>
        <li>fecha | date: "long":"":"fr"</li>
      </ul>
    </p-card>
  </div>
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date: "short" }}</li>
        <li>{{ fecha | date: "long" }}</li>
        <li>{{ fecha | date: "EEEE, MMMM d, y, h:mm:ss a" }}</li>
      </ul>
      <hr />
      <ul>
        <li>{{ fecha | date: "long":"GMT-6" }}</li>
        <li>{{ fecha | date: "long":"GMT-2" }}</li>
        <li>{{ fecha | date: "long":"":"en" }}</li>
        <li>{{ fecha | date: "long":"":"fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
